.nav-item {
    border-radius: 50%;
}

.nav-item:hover {
    background-color: #9796f0;
}

.header {
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url("images.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 110px;
    padding-bottom: 110px;
    margin-top: 65px;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 50%;
    height: 50%;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    text-align: center;
}

.modal-body .md-form i {
    display: inline-block;
}

.modal-body .md-form i+input {
    float: right;
    width: 90%;
}

.header {
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("https://i.pinimg.com/originals/20/21/64/202164a61d4b52e5e12fb82d33aee8fc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
}

.hbtn {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    height: calc(3rem + 2px);
}

.hbtn:hover {
    background-color: #F48FB1;
}