.nav-item {
    border-radius: 10%;
}

.nav-item:hover {
    background-color: #A4508B;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 50%;
    height: 50%;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    text-align: center;
}

.modal-body .md-form i {
    display: inline-block;
}

.modal-body .md-form i+input {
    float: right;
    width: 90%;
}

.header {
    margin-top: -10px;    
    background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url('https://dz9yg0snnohlc.cloudfront.net/counselor-vs-psychologist-which-do-you-need-1-new.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    color: white;
    padding-top: 110px;
    padding-bottom: 110px;
    margin-top: -10px;
}

.headbtn {
    font-size: 16px;
    font-weight: 400;
}

.headbtn:hover {
    background-color: #A4508B;
}

.lg-text {
    font-size:52px;
    font-weight: 600;
    text-transform: none;
    color:#fff;
}
.image-aboutus-para {
    color:#fff;

}

.bread-bar {
    background: #f9f9f9;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    min-height: 40px;
    height: auto;
    position: relative;
    z-index: 555;
}
.breadcrumb {
    background: none;
    margin: 0;
    font-weight: 300;
    padding-left: 0;
    font-size: 15px;
}
.breadcrumb a {
    color: #A4508B;
}
.breadcrumb > .active {
    color: #666;
}
.breadcrumb > li + li::before {
    content: "\203A";
    color: #A4508B;
    padding: 0 8px;
}

.aboutus-section {
        padding-top:60px;
        padding-bottom:60px;
}

p {
    font-weight: 400;
    font-style: normal;
    color: #494949;
}

.folded-corner:hover .text{
	visibility: visible;
	color: white;
}
.Services-tab{
	margin-top:20px;
	
}

.folded-corner{
  padding: 25px 25px;
  position: relative;
  font-size: 90%;
  text-decoration: none;
  color: #999; 
  background: transparent;
  transition: all ease .5s;
  border: 1px solid #A4508B;
}
.folded-corner:hover{
	background-color: #A4508B;
}


.folded-corner:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-style: solid;
  border-width: 0 0px 0px 0;
  border-color: white;
  transition: all ease .3s;
}

.folded-corner:hover:before {
  background-color: white;
  border-width: 0 50px 50px 0;
  border-color: #eee white;
  
}

.service_tab_1{
	background-color: white;
}

.fa-icon-image{
	color: #A4508B;
	display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    font-size-adjust: none;
    font-stretch: normal;
    text-rendering: auto;
    text-align: center;
}

.site-heading h3{
    font-size : 40px;
    margin-bottom: 15px;
    font-weight: 600;
}
.border {
    background: #e1e1e1;
    height: 1px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
}

